
.details{
    display: flex;
    flex-wrap: wrap;
}

.row{
    background-color: rgb(243, 246, 246);
    margin-left: 30%;
    margin-right: 15%;
}
.subtotal-dolares{
    text-align: left;
    font-size: larger;
    margin-right: 21%;
}
.iva-dolares{
    text-align: left;
    font-size: larger;
    margin-right: 21%;
}
.total-dolares{
    text-align: left;
    font-size: larger;
    margin-right: 21%;
}
.subtotal-colones{
    text-align: left;
    font-size: larger;
    margin-right: 21%;
}
.iva-colones{
    text-align: left;
    font-size: larger;
    margin-right: 21%;
}
.total-colones{
    text-align: left;
    font-size: larger;
    margin-right: 21%;
}

.form-check{
    margin-left: 2%;
}

.total{
    text-align: left;
    font-size: larger;
    margin-right: 21%;
}



#select-ng{
    color: rgb(29, 77, 17);
}

#opciones-ng{
    background-color: aqua;
}
.button{
    text-align: left;
    font-size: larger;
}

.value{
    margin-top: -4.5%;
    margin-left: 35%;
}