<app-navbar></app-navbar>
<app-progress-bar *ngIf="loading"></app-progress-bar>

<div class="container" style="margin-top: 50px;">
  <div class="title-container">
    <h1 class="title">Reservacion de parques <span class="highlight"> Nacionales</span></h1>
  </div>

  <div class="d-flex justify-content-end">
    <div class="input-group" style="max-width: 190px;">
      <div class="input-group-prepend">
        <span class="input-group-text" style="background-color: rgb(80, 148, 57);">
          <i class="bi bi-search text-white"></i>
        </span>
      </div>
      <input type="text" class="form-control form-control-sm custom-input" style="font-size: 0.8rem; height: 1.875rem;" [(ngModel)]="searchText" placeholder="Buscar por nombre" (input)="filter()">
    </div>
  </div>

  <div class="row" style="margin: 10px 0">
    <div class="col-md-3" style="margin: 20px 0" *ngFor="let card of paginatedParks">
      <mat-card style="border: none; background-color: #d0d0d000; overflow: hidden; position: relative;">
        <a mat-button [routerLink]="'/vistaLectura/' + card.id">
          <div class="image-overlay"></div>
        <img class="mat-card-image"  [src]="'https://cdn.glitch.global/c8741137-7561-4ba9-b14e-9163ffec5828/' + card.id + '.jpg'" alt="Card Image"
          style="
            width: 300px;
            height: 200px;
            object-fit: cover;
            object-position: center;
            cursor: pointer;
          "
        />
      </a>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
          <mat-card-content class="card-body" style="background-color: none; text-align: center;">
            <mat-card-title style="color: white; font-weight: bold; font-size: 18px;">{{ card.nombre }}</mat-card-title>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="pagination" style="justify-content: center;">
    <button class="page-link" *ngFor="let page of getPageArray()" (click)="setCurrentPage(page)">
      {{ page }}
    </button>
  </div>
</div>
