<app-navbar></app-navbar>
<app-progress-bar *ngIf="loading"></app-progress-bar>
<br><br>
<div class="container">
  <div class="d-flex justify-content-between align-items-center form-title">
    Listado de tarifas
      <button class="custom-green-btn" routerLink="/addRate" style="font-size: small;">
        <i class="bi bi-plus"></i>Agregar tarifa
      </button>
  </div>
  <br>
    <table datatable [dtOptions]="dtOptions" *ngIf="listRates.length > 0 " class="table table-striped table-hover">
        <thead>
          <tr class="table-secondary">
            <th scope="col">Id</th>
            <th scope="col">Nombre Parque</th>
            <th scope="col">Precio Nacional</th>
            <th scope="col">Precio Extranjero </th>
            <th scope="col">Acciones... </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listRates" class="table-active">
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.precio_nacional}}</td>
            <td>{{item.precio_extranjero | currency}}</td>
            <td>
                <button routerLink="/editRate/{{item.id}}"type="button" class="btn btn-outline-warning btn-sm ms-2"><i class="bi bi-pencil"></i></button>
                <button (click)="deleteRate(item.id!)" type="button" class="btn btn-outline-danger btn-sm ms-2"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <h5 *ngIf="listRates.length === 0">No hay nada para mostrar para {{email}}</h5>
</div>

