<div class="modal-header">
  <h4 class="modal-title">Detalles del parque</h4>
  <button type="button" class=" btn close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="park">
    <p><strong>Nombre del parque</strong> {{ park.nombre }}</p>
    <p><strong>Visitas del parque</strong> {{ park.visitas }}</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
</div>
