/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

@import '~bootstrap-icons/font/bootstrap-icons.css';
html, body {
    height: 100%;
}

.grapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 100%;

}

.logo{
    height: 130px;
    margin-bottom: 10px;
}

.body{
    max-width: 300px;
    width: 100%;
    text-align: center;
}
<<<<<<< HEAD

=======
>>>>>>> 0bd186c3f8e7b74f9fd0302e28d75e93ed983194
